@using HieuLamDoAn.Models;
@model IList<TeamMembers>
@{
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">
	<div class="pagetitle">
		<h2>Danh sach nhân viên</h2>
	</div>

	<p>
		<a type="button" class="btn btn-success" asp-area="Admin" asp-controller="Member" asp-action="Create">
			<i class="bi bi-file-earmark-text me-1"></i>Thêm nhân viên
		</a>
	</p>
	<section class="section dashboard">
		<div class="row">
			<div class="col-12">
				<div class="card recent-sales overflow-auto">
					<div class="card-body mt-4">
						<table class="table table-borderless database">
							<thead>
								<tr>
									<th class="col-1 text-center">#</th>
									<th class="col-3 text-centre">Tên nhân viên</th>
									<th class="col-2 text-center">Công việc</th>
									<th class="col-2 text-center">Hình ảnh</th>
									<th class="col-1 text-center">Liên kết Fb</th>
									<th class="col-1 text-center">Liên kết Tw</th>
									<th class="col-2 text-center">Liên Kết Ins</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<th class="text-center" scope="row">@item.MemberID</th>
										<td>
											<a asp-area="Admin" asp-controller="TeamMembers" asp-action="Details"
											   asp-route-id=" @item.MemberID" class="text-primary">@item.MemberName</a>
										</td>
										<td class="text-center">@item.Designation</td>
										<td class="text-center">@item.Image</td>
										<td class="text-center">@item.FbUrl</td>
										<td class="text-center">@item.TwUrl</td>
										<td class="text-center">@item.IgUrl</td>
										<td class="text-center">
											<a asp-area="Admin" asp-controller="Member" asp-action="Edit"
											   asp-route-id="@item.MemberID" class="btn btn-primary btn-sm"
											   title="Sửa nội dung bài viết"><i class="bi bi-pencil"></i></a>
											<a asp-area="Admin" asp-controller="Member" asp-action="Delete"
											   asp-route-id="@item.MemberID" class="btn btn-danger btn-sm"
											   title="Xóa thông tin bài viết"><i class="bi bi-trash"></i></a>
										</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
